# Caches and compiled files
__pycache__
.mypy_cache
.pytest_cache
.pyc

# Dependencies
venv

# Outputs of running examples
1601.00978
sources
outputs
arxiv
downloaded
*.log

# Text editor temporary files
.*.sw*

# Artifacts from packaging
*.egg-info
