# Caches and compiled files
__pycache__
.mypy_cache
.pytest_cache
.pyc

# Dependencies
venv
venv2

# Outputs of running examples
1601.00978
sources
outputs
arxiv
downloaded
*.log

# Text editor temporary files
.*.sw*

# Artifacts from packaging
*.egg-info
test.*
*.pdf
data/
*.cwl
*.csv
*.tex
gh_download.py
utils/pyintel/
DocBank_500K_txt/
down/
second_downloaded/
outputs_kappa/
*.txt
solved/
.vscode/
.streamlit